<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Colores
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let color of colors">
      <ion-card (click)="itemClick(color.id)">
        <ion-card-header>
          <ion-card-title>{{color.name}}</ion-card-title>
          <div class="color-sample" [ngStyle]="{'background':color.color}"></div>
        </ion-card-header>
        <ion-card-content>
            ID: {{color.id}} <br>
            Nombre: {{color.name}} <br>
            Año: {{color.year}} <br>
            Color: {{color.color}} <br>
            Pantone: {{color.pantone_value}} <br>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
